# Скомпилированные бинарники и библиотеки
build/
bin/
lib/
out/
x64/
Debug/
Release/

# Временные файлы Visual Studio
.vs/
*.user
*.suo
*.sln
*.vcxproj
*.filters

# Зависимости vcpkg
vcpkg_installed/

# Локальные файлы конфигурации рантайма
config.json
